h1 {
  margin: 20px;
  border: 2px dashed teal;
  padding: 10px 0 10px 20px;
}

.vehicle {
  margin: 20px;
  border-right: 2px dashed teal;
  border-bottom: 2px dashed teal;
  border-left: 2px dashed teal;
  padding-left: 30px;
  font: 1.25em sans-serif;
}
